<div class="business-card">
    <div class="title">
        <h1>Jonathan Hemnes</h1>
        <h2>Full stack developer powered by hot sauce and dubious facts.</h2>
    </div>
    <div class="icon-container">
        <div class="icons">
            <div class="circle">
                <a href="mailto:{{ site.email }}" target="_blank">
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </div>
            <div class="circle">
                <a href="https://github.com/JonathanHemnes" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
            <div class="circle">
                <a href="https://www.linkedin.com/in/jonathanhemnes/" target="_blank">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="technologies">
    <h1>I stand on the shoulders of these giants</h1>
    <div class="tech-icon-container">
        <div class="tech-icons">
            <i class="icon ion-social-javascript"></i>
            <i class="icon ion-social-angular"></i>
            <i class="icon ion-social-sass"></i>
            <i class="icon ion-social-html5"></i>
            <i class="icon ion-social-css3"></i>
            <i class="ion ion-social-google"></i>
            <i class="ion ion-beer"></i>
            <i class="ion ion-social-github"></i>
            <i class="ion ion-social-python"></i>
            <i class="ion ion-social-chrome"></i>
        </div>
    </div>
</div>