@import "mixins";
@import "variables";

h1,
h2,
h3 {
    color: $primary-text-color;
    text-align: center;
}

.business-card {

    width: 100vw;
    overflow: hidden;
    background: $default-primary-color;
    
    .title {
        text-align: center;
        width: 100vw;

        h1 {
            margin-top: 150px;
            text-transform: uppercase;
            font-size: 60px;
        }

        .sub-text {
            margin-top: 90px;
        }
    }
    .icon-container {
        padding-top: 100px;
        padding-bottom: 100px;
        width: 250px;
        display: block;
        margin: auto;
    
        .icons {
            
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;

            .circle {
                @include fadeIn( 1s);
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                margin: auto;
                border-radius: 50%;
                background-color: $accent-color;
                height: 75px;
                width: 75px;
                i {
                    color: $text-primary-color;
                }
                :hover {
                    color: darken($text-primary-color, 5%);
                }
            }
        }
    }
}
.technologies {
    padding-top: 100px;
    @include angle('before', false, 3deg);
    background: white;

    .tech-icon-container {
        margin-top: 50px;
        margin-left: 20%;
        margin-right: 20%;
        display: block;
        
        .tech-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            i {
                margin: 15px;
                font-size: 46px;
            }
        }
    }   
}
