$screen-xs: 320px;
$screen-sm: 732px;
$screen-md: 1024px;
$screen-lg: 1200px;

$dark-primary-color:  #388E3C;
$default-primary-color:  #4CAF50;
$light-primary-color:   #C8E6C9;
$text-primary-color:   #FFFFFF;
$accent-color: #607D8B;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color : #BDBDBD;